<!DOCTYPE html>
<html>
<head>
	<title>CatchPhrase</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- jQuery -->
	  <script src="/vendor/jquery/dist/jquery.min.js"></script>
	  <!-- Underscore -->
	  <script src="/vendor/underscore/underscore-min.js"></script>
	  <!-- Bootstrap JS -->
	  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	  <!-- Bootstrap CSS -->
	  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

	  <!-- App JS -->
	  <script src="/static/js/app.js"></script>
	  <!-- App CSS -->
	  <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
	<h1>CatchPhrase</h1>
	<ul id="phrase-placeholder"></ul>



	<script type="text/template" id="phrase-template">
	  <li> Phrase: <%= phrase %>, Description: <%= description %> 
	</script>
</body>
</html>